Link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/bootstrap.min.css')
script(src='maxcdn/bootstrap.com/bootstrap/4.1.1/js/boostrap.min.js')
script(src='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')

head
    Link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/bootstrap.min.css')
    script(src='maxcdn/bootstrap.com/bootstrap/4.1.1/js/boostrap.min.js')
    script(src='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    // Link(rel='stylesheet', href='../../stylesheets/login.css')
body#loginForm
    .container
        .login-form
            .main-div
                .panel
                    h2 Recuperación de password
                    p Por favor ingrese su email y le enviaremos a esa cuenta las instrucciones de reseteo
                form#login(action='/forgotPassword' metho='post')
                    input#email(type='hidden' name='email' value= use.email)
                    .form-group
                        label(form='pwd') Password
                        input#email.form-control(type='password' placeholder='password' name='password' class= errors.password)
                        if errors.password
                            small#passwordHelp.text-danger
                                = errors.password.message
                    .form-group
                        label(form='confirm_pwd') Confirmar Password
                        input#email.form-control(type='password' placeholder='Confirmar password' name='confirm_password' class= errors.confirm_password)
                        if errors.confirm_password
                            small#passwordHelp.text-danger
                                = errors.confirm_password.message

                    button.btn.btn-primary(type='submit') Resetear