Link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/bootstrap.min.css')
script(src='maxcdn/bootstrap.com/bootstrap/4.1.1/js/boostrap.min.js')
script(src='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')

head
    Link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/bootstrap.min.css')
    script(src='maxcdn/bootstrap.com/bootstrap/4.1.1/js/boostrap.min.js')
    script(src='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    // Link(rel='stylesheet', href='../../stylesheets/login.css')
body#loginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Admin login
                    p Por favor ingrese su email y password
                form#login(action='/login' method='post')
                    .form-group
                        input#username.form-control(type='email' placeholder='Email address' name='username')
                    .form-group
                        input#username.form-control(type='password' placeholder='Password' name='username')
                    .forgot
                        a(href='/forgotPassword') Olvidé mi contraseña

                    button.btn.btn-primary(type='submit') Login