Link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/bootstrap.min.css')
script(src='maxcdn/bootstrap.com/bootstrap/4.1.1/js/boostrap.min.js')
script(src='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')

head
    Link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/bootstrap.min.css')
    script(src='maxcdn/bootstrap.com/bootstrap/4.1.1/js/boostrap.min.js')
    script(src='cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    // Link(rel='stylesheet', href='../../stylesheets/login.css')
body#loginForm
    .container
        .login-form
            .main-div
                .panel
                    h2 Cambio de contraseña
                    p Por favor ingrese su clave
                form#login(action='/forgotPassword' metho='post')
                    .form-group
                        input#email.form-control(type='email' placeholder='Email address' name='email')
                    button.btn.btn-primary(type='submit') Resetear


    
