extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br
    
    h1 Nuevo usuario

    br
    br

    form(action='/usuarios/create' method='post')
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='color') Nombre:
        input#color(type='text' name='color')
        br
        label(for='modelo') Email:
        input#modelo(type='email' name='modelo')
        br
        label(for='lat') Password:
        input#lat(type='text' name='lat')
        br
        input.btn(type='submit' value='Grabar')