extends ../layout

block content
    a(href='/usuarios/create') Nuevo Usuario
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Email
                th(scope='col')                 
                th(scope='col')                 
        tbody
            each bici in bicis
                tr
                    td(scope='row') 
                      = bici.id
                    td= bici.nombre
                    td= bici.email                   
                    td
                        a(href='usuarios/' + bici.id + '/update') Editar
                    td
                        form.inline(method='post' action='usuarios/' + bici.id + '/delete')
                            input(type='hidden' name='id' value= bici.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'

