extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br
    
    h1 Actualizar usuario

    br
    br

    form(action=`/usuarios/${bici.id}/update` method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value= bici.id)
        br
        label(for='color') Nombre:
        input#color(type='text' name='color' value= bici.color)
        br
        label(for='modelo') Email:
        input#modelo(type='text' name='modelo' value= bici.modelo)
        br
        label(for='lat') Passwor:
        input#lat(type='text' name='lat' value= bici.ubicacion[0])
        br
        input.btn(type='submit' value='Grabar')